@tailwind base;
@tailwind components;
@tailwind utilities;

*, body, button {
  text-decoration: none;
  font-family: 'welcome';
}

input[type=password] {
    font-family: "";
}
 
table, th, td {
  border: 1px solid #bcbcbc;
  padding: 5px;
}

td {
  text-align: center;
}

.router-link-active {
  text-decoration: underline;
  color: white;
  font-weight: 900;
}

.loader{
  border-style: solid;
  border-radius: 50%;
  border-top-color: white !important;
  box-sizing: border-box;
  animation: spin .8s linear infinite;
}

.alert {
  animation: fadeInOut 6s linear;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeInOut {
  0% { right: -500px }
  10% { right: 1.25rem }
  90% { right: 1.25rem }
  100% { right: -500px}
}

@media screen and (max-width: 400px) { 
  body{
    font-size: 12px;
  }

  .aboutImg {
    width: 100px;
    height: 100px;
  }

  .goodsinfo {
    margin-top: 10px;
  }
}
